.task {
	cursor: default;
	list-style-type: none;
	transition: 0.2s;
	position: relative;
	width: 100%;
	height: 35px;
	vertical-align: middle;
	text-decoration: none;
	line-height: 35px;  
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	color: rgb(172, 172, 172);
	background-color: rgb(63, 63, 63);
	animation: display 0.5s;
}

li.removedAnimation {
	background-color: rgb(105, 1, 1);
	animation: hide 0.25s;
}

.removedAnimation * {
	pointer-events: none;
	animation: hide 0.25s;
}

@keyframes hide {
	to {
		height: 0px;
		line-height: 0px;
		font-size: 0px;
  }
	from {}
}

@keyframes display {
	to {}
	from {
		margin-top: -35px;
		line-height: 0px;  
		background-color: rgb(122, 89, 45);
	}
}

.taskHover:hover{
	background-color: rgb(122, 89, 45);
}

.completeTaskStatus {
	opacity: 1;
	transition: color 0.7s, opacity 0.7s;
	text-decoration: line-through;
	color: rgb(52, 52, 52);
	background-color: #222;
}

.completeTaskStatus:hover {
	opacity: 0.7;
}
