.inputField {
	width: 100%;
	height: 35px;
}

.inputField input[id="newTaskInputField"]{
	transition: 0.3s;
	width: 100%;
	height: 33px;
	border: 0;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	color: #212121;
	background-color: #2b2b2b;
}

.inputField input[id="newTaskInputField"]::placeholder{
	transition: 0.8s;
	color: #888;
}

.inputField input[id="newTaskInputField"]:focus::placeholder{
	transition: 0.8s;
	color: #111;
}

.inputField input[id="newTaskInputField"]:focus{
	transition: 0.8s;
	background-color: #888;
}