.removeButton {
	position: absolute;
	user-select: none;
	vertical-align: middle;
	line-height: 35px; 
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	right: 0;
	top: 0;
	width: 35px;
	height: 35px;
	opacity: 0.2;
	transition: 0.2s;
	color: #999;
	animation: display 0.5s;
}

.removedAnimation{
	animation: hide 0.25s !important;
}

@-webkit-keyframes hide {
  0% {
		height: 35px;
		line-height: 35px;
		font-size: 16px;
	}
  100% {
		height: 0px;
		line-height: 0px; 
		font-size: 0px;
  }
}

@keyframes hide {
  0% {
		height: 35px;
		line-height: 35px;
		font-size: 16px;
	}
  100% {
		height: 0px;
		line-height: 0px; 
		font-size: 0px;
  }
}

@-webkit-keyframes display {
  0% {
		opacity: 0;
		height: 0px;
	}
	88% {
		height: 35px;
	}
  100% {
		opacity: 0.2;
  }
}


@keyframes display {
  0% {
		opacity: 0;
		height: 0px;
	}
	88% {
		height: 35px;
	}
  100% {
		opacity: 0.2;
  }
}

.removeButton:hover {
	cursor: pointer;
	transition: 0.2s;
	opacity: 0.8;
	background-color: rgb(182, 0, 0);
}
