li.task {
	list-style-type: none;
	transition: 0.2s;
	position: relative;
	width: 100%;
	height: 35px;
	vertical-align: middle;
	text-decoration: none;
	line-height: 35px;  
	text-align: center;
	font-family: sans-serif;
	/* font-weight: 350; */
	font-size: 18px;
	/* color: --rgb(172, 172, 172); */
	background-color: #3f3f3f;
	color: rgb(172, 172, 172);
	-webkit-animation: display 0.5s;
	animation: display 0.5s;
	/* animation-fill-mode: forwards; */
	
}

@-webkit-keyframes display {
  0% {
	 margin-top: -35px;
	 line-height: 0px;  
	 color: rgba(172, 172, 172, 0.0);
	 background-color: rgb(122, 89, 45);
	}
  100% {
		margin-top: 0px;
		line-height: 35px;  
		color: rgba(172, 172, 172);
		background-color: rgb(63, 63, 63);
  }
}

.removedAnimation {
	animation: hide 0.25s !important;
}

@-webkit-keyframes hide {
  0% {
	 height: 35px;
	 line-height: 35px;
	 font-size: 18px;
	 color: rgba(172, 172, 172, 1);
	 background-color: rgba(63, 63, 63, 1);
	}
	50% {
		color: rgba(172, 172, 172, 0.0);
	}
	100% {
		height: 0px;
		line-height: 0px;
		font-size: 0px;
		color: rgba(172, 172, 172, 0.0);
		background-color: rgba(182, 0, 0, 0.2);
  }
}

@keyframes hide {
  0% {
	 height: 35px;
	 line-height: 35px;
	 font-size: 18px;
	 color: rgba(172, 172, 172, 1);
	 background-color: rgba(63, 63, 63, 1);
	}
	50% {
		color: rgba(172, 172, 172, 0.0);
	}
	100% {
		height: 0px;
		line-height: 0px;
		font-size: 0px;
		color: rgba(172, 172, 172, 0.0);
		background-color: rgba(182, 0, 0, 0.2);
  }
}

@keyframes display {
 0% {
	 margin-top: -35px;
	 line-height: 0px;  
	 color: rgba(172, 172, 172, 0.0);
	 background-color: rgb(122, 89, 45);
	}
  100% {
		margin-top: 0px;
		line-height: 35px;  
		color: rgba(172, 172, 172);
		background-color: rgb(63, 63, 63);
  }
}

.taskHover:hover{
	transition: 0.2s;
	background-color: rgb(83, 83, 83) !important;
}

.completeTaskStatus {
	transition: 0.4s !important;
	text-decoration: line-through !important;
	color: rgb(52, 52, 52) !important;
	background-color: #222 !important;
}

input[id="editTaskNameField"]{
	width: 100%;
	height: 32px;
	border: 0;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	color: inherit;
	background-color: inherit;
}
