.tasks li {
	list-style-type: none;
	transition: 0.2s;
	position: relative;
	width: 100%;
	height: 35px;
	vertical-align: middle;
	text-decoration: none;
	line-height: 35px;  
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	background-color: #afafaf;
}

.tasks li:hover {
	transition: 0.2s;
	background-color: rgb(167, 108, 85) !important;
}

.completeTaskStatus {
	transition: 0.4s !important;
	text-decoration: line-through !important;
	background-color: #6d5094 !important;
}

.toDoList input[id="editTaskField"]{
	width: 100%;
	height: 32px;
	border: 0;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	color: #2c2c2c;
	background-color: inherit;
}

input::-ms-clear {
	width: 0;
	height: 0;
}