.editButton {
	position: absolute;
  user-select: none;
	vertical-align: middle;
	border: 0;
	background: transparent;
	line-height: 35px; 
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;
	right: 35px;
	top: 0;
	width: 35px;
	height: 35px;
	transition: 0.2s;
  color: #999;
  opacity: 0.2;
}

.editButton:hover {
  opacity: 0.8;
  background-color: whitesmoke;
}
