.dayInfo {
	position: relative;
	margin-left: 240px;
	width: calc(100% - 240px);
	height: 192px;
	background-color: #595959;
	background-image: linear-gradient(to top, black 11%, transparent 70%), url(../images/dayInfoBG.jpg);
	background-size: cover;
	background-position-y: 60%;
	background-position-x: 0px;
}

.dayInfo p {
	position: absolute;
	bottom: 0;
	margin:0px 0px 20px 40px;
	font-family: sans-serif;
	font-size: 32px;
	text-align: left;
	color: #cccccc;
}