.ListMenu {
	width: 240px;
	height: 100%;
	margin: 0;
	padding: 0;
	float: left;
	background-color: #424242;
}

.ProfileImageStub {
	margin: 40px 0px 0px 82px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: #929292;
}

.UserNameStub {
	width: 180px;
	height: 20px;
	margin: 15px 0px 22px 30px;
	border-radius: 15% / 30px;
	background-color: #626262;
}

ul.TasksList {
	margin: 41px 0 0 0;
	padding: 0;
}

.TasksList li{
	list-style-type: none;
	width: 234px;
	height: 42px;
	margin: 5px 0px 0px 3px;
	vertical-align: middle;
	line-height: 42px;  
	text-align: center;
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 16px;
	color: #cccccc;
	border-radius: 3% / 14%;
	background-color: #636363 transparent;
}

.TasksList li:hover{
	background-color: #4b4b4b;
}

#MainTaskList{
	background-color: #636363;
}