.ToDoList {
	position: relative;
	width: calc(100% - 240px);
	height: calc(100% - 192px);
	margin-left: 240px;
	background-color: #828282;
}

.InputField {
	width: 100%;
	height: 35px;
	background-color: #ffffff;
}

.ToDoList input[id="InputTask"]{
	width: 100%;
	height: 35px;
	border: 0;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	color: #3f3f3f;
	background-color: inherit;
}