.ToDoList {
	position: relative;
	width: calc(100% - 240px);
	height: calc(100% - 192px);
	margin-left: 240px;
	background-color: #828282;
}

.InputField {
	width: 100%;
	height: 35px;
	background-color: #ffffff;
}

.ToDoList input[id="InputTask"] {
	width: 100%;
	height: 33px;
	border: 0;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	color: #3f3f3f;
	background-color: inherit;
}

ul.Tasks{
	width: 100%;
	height: calc(100% - 35px);
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.Tasks li {
	list-style-type: none;
	transition: 0.2s;
	position: relative;
	width: 100%;
	height: 35px;
	vertical-align: middle;
	text-decoration: none;
	line-height: 35px;  
	text-align: center;
	font-family: sans-serif;
	font-size: 18px;
	color: #2c2c2c;
	background-color: #afafaf;
}

.Tasks li:hover {
	transition: 0.2s;
	background-color: #988aa6 !important;
}

.completeTaskStatus {
	transition: 0.4s !important;
	text-decoration: line-through !important;
	background-color: #6d5094 !important;
}

.ToDoList input[id="EditTaskField"]{
	width: 100%;
	height: 32px;
	border: 0;
	margin: 0;
	outline: 0;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
	color: #2c2c2c;
	background-color: inherit;
}